
{{#if user.isAdmin}}

<div class="card card-body">
    <h3>Add Genre</h3>
    <form action="/api/genres" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" required>
        </div>        
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
{{else}}
<p>Not Authorized</p>
{{/if}}