
{{#if user.isAdmin}}
<div class="card card-body">    
    <form action="/api/genres/edit/{{genre.id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" value="{{genre.title}}" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{{else}}
<p>Not Authorized</p>
{{/if}}