{{#if user.isAdmin}}
<a href="/api/genres/add" class="btn btn-dark btn-block mb-2">Add a New Genre</a>
{{/if}}
{{#each genres}}
    <div class="card card-body mb-2">
        <a href="/api/genres/{{id}}" class="btn btn-block mb-2"><h4>{{title}}</h4></a>
        {{#if user.isAdmin}}
        <a href="/api/genres/edit/{{id}}" class="btn btn-dark btn-block mb-2">Edit</a>
        <form action="/api/genres/{{id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn btn-danger btn-block" value="Delete" onclick="return confirm('Are you sure you want to delete this item?');">
        </form>
        {{/if}}   
    </div>
{{else}}
    <p>Nothing to Show</p>
{{/each}}