<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">Movie-Rental</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/about">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">
                        collections
                    </a>
                    <div class="dropdown-menu">
                        <a href="/api/movies" class="dropdown-item">Movies</a>
                        <a href="/api/genres" class="dropdown-item">Genres</a>
                        <a href="/api/rentals" class="dropdown-item">My Rentals</a>
                        {{#if user.isAdmin}}
                        <a href="/api/movies/add" class="dropdown-item">Add Movie</a>
                        <a href="/api/genres/add" class="dropdown-item">Add Genre</a>
                        <a href="/api/users" class="dropdown-item">Users</a>
                        {{else}}
                        {{/if}}
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/api/users/logout" class="nav-link">SignOut</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a href="/api/users/login" class="nav-link">SignIn</a>
                </li>
                <li class="nav-item">
                    <a href="/api/users/register" class="nav-link">SignUp</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>