<div class="jumbotron text-center">
    <h1 class="display-3">{{title1}}</h1>
    <p class="lead">
        Movie Rental Website
    </p>
    <a href="/api/movies" class="btn btn-dark btn-lg">
        List all Movies
    </a>
</div>