
{{#if user.isAdmin}}
<div class="card card-body">
    <h3>Add Movie</h3>
    <form action="/api/movies" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" required>
        </div>
        <div class="form-group">
            <label for="gen">Genre:</label>
            <select class="form-control" id="gen" name="genre">
                <option>Action</option>
                <option>Adventure</option>
                <option>Animation</option>
                <option>Biography</option>
                <option>Comedy</option>
                <option>Crime</option>
                <option>Drama</option>
                <option>Horror</option>
                <option>Mystery</option>
                <option>Western</option>
            </select>
        </div>
        <div class="form-group">
            <label for="title">Stock</label>
            <input type="text" class="form-control" name="stock" required>
        </div>
        <div class="form-group">
            <label for="title">Rent</label>
            <input type="text" class="form-control" name="rent" required>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
{{else}}
<p>Not Authorized</p>
{{/if}}