


<div class="card card-body">
    <h3>Movie Details</h3>
    <div class="card card-body mb-2">
        <h4>{{movie.title}}</h4>
        <h6>Genre : {{movie.genre}}</h6>
        <p>Stock : {{movie.numberInStock}}, Rent: ₹{{movie.dailyRentalRate}} per Day</p>
    </div>

    <form action="/api/rentals" method="POST">
        <div class="form-group">
            <label for="dateIssued">Issue Date :</label>
            <input type="date" name="dateIssued" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="dateReturned">Return Date</label>
            <input type="date" name="dateReturned" class="form-control" required>
        </div>
        <input type="hidden" name="hidden" value="{{movie.id}}">
        <button type="submit" class="btn btn-primary mb-3">Rent</button>
    </form>
    {{#if user.isAdmin}}
    <a href="/api/movies/edit/{{movie.id}}" class="btn btn-dark btn-block mb-2">Edit</a>
    <form action="/api/movies/{{movie.id}}?_method=DELETE" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-danger btn-block mb-2" value="Delete" onclick="return confirm('Are you sure you want to delete this item?');">
    </form>
    {{/if}}
</div>