
{{#if user,isAdmin}}
<div class="card card-body">    
    <form action="/api/movies/edit/{{movie.id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" value="{{movie.title}}" required>
        </div>
        <div class="form-group">
            <label for="gen">Genre:</label>
            <select class="form-control" id="gen" name="genre">
                <option>{{movie.genre}}</option>
                <option>Action</option>
                <option>Adventure</option>
                <option>Animation</option>
                <option>Biography</option>
                <option>Comedy</option>
                <option>Crime</option>
                <option>Drama</option>
                <option>Horror</option>
                <option>Mystery</option>
                <option>Western</option>
            </select>
        </div>
        <div class="form-group">
            <label for="title">Stock</label>
            <input type="number" class="form-control" name="stock" value="{{movie.numberInStock}}" required>
        </div>
        <div class="form-group">
            <label for="title">Rent</label>
            <input type="number" class="form-control" name="rent" value="{{movie.dailyRentalRate}}" required>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{{else}}
<p>Not Authorized</p>
{{/if}}