{{#if user.isAdmin}}
<a href="/api/movies/add" class="btn btn-dark btn-block mb-2">Add a New Movie to the List</a>
{{/if}}
{{#each movies}}
    <div class="card card-body mb-2">
        <a href="/api/movies/{{id}}" class="btn btn-block mb-2"><h4>{{title}}</h4></a>        
    </div>
{{else}}
    <p>Nothing to Show</p>
{{/each}}