{{#if user.isAdmin}}
<div class="card card-body">    
    <form action="/api/users/edit/{{user.id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" value="{{user.name}}" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" value="{{user.email}}" required>
        </div>
        <div class="form-group">
            <label for="phone">Contact</label>
            <input type="number" class="form-control" name="phone" value="{{user.phone}}" required>
        </div>
        <div class="form-check mb-2">
            <input type="checkbox" class="form-check-input" name="isPremium">
            <label class="form-check-label" for="isPremium">Premium Account</label>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{{else}}
<p>Not Authorized</p>
{{/if}}