{{#if user.isAdmin}}
{{#each users}}
    <div class="card card-body mb-2">
        <h4>{{name}}</h4>
        <h3>{{email}}</h3>
        <p>Contact : {{phone}}, is a premium user : {{isPremium}}</p>
        <a href="/api/users/edit/{{id}}" class="btn btn-dark btn-block mb-2">Edit</a>
        <form action="/api/users/{{id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn btn-danger btn-block" value="Delete" onclick="return confirm('Are you sure you want to delete this item?');">
        </form>       
    </div>
{{else}}
    <p>Nothing to Show</p>
{{/each}}
{{else}}
<p>Not Authorized</p>
{{/if}}