
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <img src="/img/logo.png" alt="logo" class="img-logo">
            <h3 class="text-center">Account register</h3>
            <form action="/api/users/register" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" value="{{name}}" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" value="{{email}}" required>
                </div>
                <div class="form-group">
                    <label for="phone">Contact</label>
                    <input type="number" class="form-control" name="phone" value="{{phone}}" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" value="{{pass}}" required>
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" class="form-control" name="password2" value="{{pass2}}" required>
                </div>
                <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" name="isPremium">
                    <label class="form-check-label" for="isPremium">Premium Account</label>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>