{{#each rentals}}
    <div class="card card-body mb-2">
        <h4>{{movie}}</h4>
        <p>Rented from Date : {{dateIssued}}</p><p>Till Date : {{dateReturned}}</p>
        <h3>Total Amount :  ₹{{rentalFee}}</h3>    
    </div>
{{else}}
    <p>Nothing to Show</p>
{{/each}}